<!DOCTYPE html>
<html>
  <head>
    <title>Hacher</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to pages <%= title %></p>
    <img src="<%= picture %>" alt="">
    <h4>hakers = <%= desc %><h4>


  </body>
</html>
